@tailwind base;
@tailwind components;
@tailwind utilities;

.name, .role{
    font-family: cursive;
}

.navbar-dark {
  background-color: #333; /* Example background color for dark theme */
  color: #fff; /* Example text color for dark theme */
}